# TASK 4

In [1]:
# Customize Matplotlib plots with interactive widgets (e.g., sliders, buttons) using libraries like ipywidgets.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("100_Sales.csv")
df.head()

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit,Unnamed: 9,Unnamed: 10
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,27/06/2010,159.42,2533654.00,951410.50,NaN,NaN
1,Central America and the Caribbean,Grenada,Cereal,Online,C,15/09/2012,117.11,576782.80,248406.36,NaN,NaN
2,Europe,Russia,Office Supplies,Offline,L,05/08/2014,524.96,1158502.59,224598.75,NaN,NaN
3,Sub_Saharan Africa,Sao Tome and Principe,Fruits,Online,C,07/05/2014,6.92,75591.66,19525.82,NaN,NaN
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,02/06/2013,524.96,3296425.02,639077.50,NaN,NaN

In [4]:
df = df.drop(columns=["Unnamed: 9", "Unnamed: 10"], axis=1)
df.sample(5)

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
31,Sub_Saharan Africa,South Sudan,Personal Care,Offline,C,28/01/2014,56.67,173676.25,53252.50
2,Europe,Russia,Office Supplies,Offline,L,05/08/2014,524.96,1158502.59,224598.75
90,Sub_Saharan Africa,Sierra Leone,Office Supplies,Offline,H,14/12/2016,524.96,617347.08,119685.00
28,Europe,Norway,Beverages,Offline,C,30/07/2014,31.79,243133.80,80241.84
41,Middle East and North Africa,Azerbaijan,Cosmetics,Online,M,25/02/2010,263.33,3162704.80,1257775.58

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item_Type       100 non-null    object
 3   Sales_Channel   100 non-null    object
 4   Order_Priority  100 non-null    object
 5   Ship_Date       100 non-null    object
 6   Unit_Cost       100 non-null    float64
 7   Total_Revenue   100 non-null    float64
 8   Total_Profit    100 non-null    float64
dtypes: float64(3), object(6)
memory usage: 7.2+ KB

In [6]:
# Converting String to Date Data-type
df["Ship_Date"] = pd.to_datetime(df["Ship_Date"], format="%d/%m/%Y")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item_Type       100 non-null    object
 3   Sales_Channel   100 non-null    object
 4   Order_Priority  100 non-null    object
 5   Ship_Date       100 non-null    datetime64[ns]
 6   Unit_Cost       100 non-null    float64
 7   Total_Revenue   100 non-null    float64
 8   Total_Profit    100 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 7.2+ KB

In [7]:
import ipywidgets as widgets
from ipywidgets import interact
import matplotlib.pyplot as plt

# Filtering Data Using Dropdown

In [8]:
# Filtering and Getting Desired Data
def display_filtered_data(region, item_type, sales_channel):
    filtered_df = df[
        (df["Region"] == region) &
        (df["Item_Type"] == item_type) &
        (df["Sales_Channel"] == sales_channel)
    ]
    display(filtered_df)
    print(f"Total Profit for filtered data: {filtered_df['Total_Profit'].sum():,.2f}")
    print(f"Total Profit for filtered data: {filtered_df['Total_Revenue'].sum():,.2f}")
    
region_dropdown = widgets.Dropdown(options=df["Region"].unique(), description="Region:")
item_dropdown = widgets.Dropdown(options=df["Item_Type"].unique(), description="Item Type:")
channel_dropdown = widgets.Dropdown(options=df["Sales_Channel"].unique(), description="Channel:")

interact(display_filtered_data, region=region_dropdown, item_type=item_dropdown, sales_channel=channel_dropdown)

interactive(children=(Dropdown(description='Region:', options=('Australia and Oceania', 'Central America and t…

# Bar Graph Profit v/s Region (Select Region of Choice Using Dropdown)

In [9]:
# Bar graph according to region
def plot_profit_by_region(region=None):
    if region:
        filtered_df = df[df['Region'] == region]
    else:
        filtered_df = df
    
    profit_by_country = filtered_df.groupby('Country')['Total_Profit'].sum().sort_values(ascending=False)
    plt.figure(figsize=(20, 6))
    profit_by_country.plot(kind='bar', color='blue')
    plt.title(f"Total Profit by Country {'for ' + region if region else ''}")
    plt.xlabel('Country')
    plt.ylabel('Total Profit')
    plt.xticks(rotation=90)
    plt.show()

region_selector = widgets.Dropdown(options=[None] + list(df['Region'].unique()), description="Region:")

interact(plot_profit_by_region, region=region_selector);

interactive(children=(Dropdown(description='Region:', options=(None, 'Australia and Oceania', 'Central America…

# Scatter Plot Profit v/s Cost Range (Select Range Using Slider)

In [10]:
# 
def plot_profit_vs_revenue(cost_range):
    min_cost, max_cost = cost_range
    
    filtered_df = df[(df['Unit_Cost'] >= min_cost) & (df['Unit_Cost'] <= max_cost)]
    
    plt.figure(figsize=(10, 6))
    plt.scatter(filtered_df['Total_Revenue'], filtered_df['Total_Profit'], c='red')
    plt.title(f"Total Revenue vs Total Profit (Unit Cost: {min_cost}-{max_cost})")
    plt.xlabel('Total Revenue')
    plt.ylabel('Total Profit')
    plt.grid(True)
    plt.show()

cost_slider = widgets.FloatRangeSlider(value=[0, 600], min=0, max=600, step=10, description='Unit Cost:')

interact(plot_profit_vs_revenue, cost_range=cost_slider);

interactive(children=(FloatRangeSlider(value=(0.0, 600.0), description='Unit Cost:', max=600.0, step=10.0), Ou…